
.wrapOfImg {
    display:flex;
    justify-content:center;
    height: auto;
    height: auto;
    margin-top: 80px;
    margin-left: 3%;
    margin-right: 3%;
  }
  .imGroup {
    margin-left: 3%;
    margin-right: 3%;
  }
