.wrapOfImg {
  display: flex;
  justify-content: center;
  height: auto;
  height: auto;
  margin-top: 80px;
  margin-left: 5%;
  margin-right: 5%;
}
.imGroup {
  margin-left: 3%;
  margin-right: 3%;
}
.imClass {
  max-width: 100%;
  max-height: max-content;
  border-radius: 6px;
}
