.wrapOfImg {
  display: flex;
  justify-content: center;
  height: auto;
  height: auto;
  margin-top: 80px;
  margin-left: 5%;
  margin-right: 5%;
}
.imGroup {
  width: 160px; /* 画像の幅に合わせて調節してください */
  margin: auto;
}
.imClass {
  max-width: 100%;
  max-height: max-content;
  border-radius: 30px;
}
