body {
  margin: 0;

  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to top, #fa9257 0%, #f5dfa6 100%);
  background-blend-mode: soft-light, screen;
  background-blend-mode: lighten;
  font-family: "メイリオ";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
