body {
  margin: 0;
  font-family: "メイリオ", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("/public/img/background_christmas.jpg");
  background-color: rgba(250, 250, 250, 0.2);
  background-blend-mode: lighten;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
